<div class="panel panel-primary">
	<div class = "panel-heading other">
		<h1 class = "panel-title">Identify Duplicate Content</h1>
	</div>
	<div class = "panel-body">
	<div class="input-daterange" id="datepicker">
	<form accept-charset="UTF-8" action = "duplicatequery"method = "get">
      <input name = "commit" type = "submit" value = "Identify all of those copycat twins!" class = "btn btn-warning" id = "querybutton">
      </form>

</div>
	<h3>Query Results</h3>
	<table class = "timetable">
	  <tr>
		<th>Dagr 1 Guid</th>
		<th>Dagr 1 Name</th>
		<th>Dagr 2 Guid</th>
		<th>Dagr 2 Name</th>
	  </tr>

	<% @dagrs.each do |dagr| %>
	  <tr>
		<td><%= dagr.d1g %> </td>
		<td><%= dagr.d1n %> </td>
		<td><%= dagr.d2g %> </td>
		<td><%= dagr.d2n %> </td>
	  </tr>
	<% end %>
	</table>
	</div>
</div>
