/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.fileupload-ui\
 *= require_tree .
 */

body.tmp {
	width:958px;
	height:800px;
}
table.victor,td, th {
	border:2px solid black;
}
td {
	max-width: 450px;
	word-wrap:break-word;
}
td:hover,td.alt:hover
{
    background: #8962C4;
}
.header{
	cursor: pointer; cursor: hand;
}
.header h3:hover{
	background: #8962C4;
}

#datepicker {
	margin-top:10px;
	margin-bottom:10px;
}