h1.posttitle {
	margin-top: 0px;
}

body {
	width: 958px;
	height: 400px;
}

.panel-heading {
	padding:0;
	width:150px;
	height:30px;
}

.panel-title {
	font-size: 36px;
	width:auto;
	font-weight: bold;
}

.panel-heading.other {
	width:auto;
	height:auto;
	background-image: linear-gradient(to bottom, #8962C4, #563d7c);
}

.panel-heading a:hover {
	text-decoration: none;
	background-image: linear-gradient(to bottom, #8962C4, #563d7c);
}

.panel-heading.active a{
	color:white;
}

.panel-heading.active {
	background-image: linear-gradient(to bottom, #8962C4, #563d7c);
}

.panel-heading:hover {
	background-image: linear-gradient(to bottom, #8962C4, #563d7c);
}

ul.queries {
	margin:0;
	padding:0;
	list-style: none;
}

.panel-body {
	padding:0;
}

#destroymodal {
	background-color: #563d7c;
}

#destroybutton {
	background-color: #563d7c;
}

a.destroya {
	color:white !important;
}

ul.queries li{
	margin:0;
	padding:0;
	border-bottom: 2px solid black;
	display: inline-block;
}

ul.queries a{
	padding-left: 10px;
	display:inline-block;
	width:150px;
}

ul.queries a:hover{
	text-decoration: none;
}
.drophead {
	margin:0;
	border: 0;
	font-weight: bold;
	text-decoration: none;
	display:block;
	padding: 4px 5px;
}

#sidebar {
	float:left;
	width:150px;
	height:400px;
	background-image: linear-gradient(to bottom, white, #e6e6e6);
}

#content {
	height:400px;
	width:auto; 
	position:relative;
	background:white;
	overflow: auto;
}

#accordion.panel-group {
	margin-top: 0px;
	width:150px;
	float:left;
}

.panel {
	border:none;
}